<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>Her name was {{first_name | lower | capfirst}} and her last name was {{last_name | capfirst}}</h2>
    <h2>{{some_list.0}}</h2>
    <h2>{{some_dict.inside_key}}</h2>
    <h2>{# this is a comment #}</h2>
    <br>
    <!--h1>Tags and For loops</h1-->
    <ul>
    {% for k,v in some_dict.items %}
        <li>{{k}} : {{v}}</li>
    {% endfor %}
    </ul>
    <h1>{{some_list}}</h1>
    <br>
    <!-- tags and if else statement-->
    {% if user_logged_in %}
    <h1>Welcome back you logged in</h1>
    {% endif %}
    <!-- tags if else and for-->
    <br>
    <ul>
        {% for num in some_list %}
            {% if num == 2 %}
                <li>TWO</li>
            {% else %}
                <li>{{num}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    


</body>
</html>